@media only screen and (min-width: 1024px) {
.Nav {
    grid-area: Nav;
    /*
    max-height: 100vh;
    */
    min-width: 40vw;
    background-color: rgb(69, 111, 150);
    color: rgb(155, 158, 125);
}
.div_nav {
    justify-content: space-between;
}
.item_lista_nav {
    font-size: 1.2rem;
    min-width: 10vw;
    margin-top: 1rem;
}
}
