@media only screen and (min-width: 1024px) {
    .div_contact {
        max-height: 99vh;
        max-width: 99vw;
        min-height: 99vh;
        min-width: 99vw;
        background-color: black;
        color: rgb(125, 125, 158);
        font-size: 2rem;
        z-index: 1;
        overflow-y: scroll;
    }
  }