@media only screen and (min-width: 1024px) {
.Header {
    grid-area: Header;
    max-width: 99vw;
    min-width: 99vw;
    /*
    max-height: 10vh;
    min-height: 10vh;
    height: 10vh;
    */
    background: linear-gradient(rgb(8, 19, 29) 70%, transparent);
    z-index: 2;
    display: flex;
    position: fixed;
    justify-content: space-between;
    --heightHeader: 10vh;
}
#Header_Logo {
    min-width: 10vw;
    height: 100%;
    text-align: center;
}

.Animation_Header_AlterarDimensoes:hover {
    animation: Animation_Header_AlterarDimensoes1 1s cubic-bezier(.52,1.51,.83,.67);
    background: rgb(45, 59, 71) ;
    color: rgb(8, 19, 29);
    height: calc(var(--heightHeader) + 5vh);
    box-shadow: 0px 0px 50px 50px rgb(45, 59, 71), 0px 0px 50px 50px black; 
}

@keyframes Animation_Header_AlterarDimensoes1  {
    from {
        height: var(--heightHeader) ;
        background: linear-gradient(rgb(8, 19, 29) 70%, transparent);
        color: rgb(112, 131, 150);
        box-shadow: 0px 0px 0px 0px rgb(45, 59, 71), 0px 0px 0px 0px black; 
    }
    to {
        background: rgb(45, 59, 71) ;
        color: rgb(8, 19, 29);
        height: calc(var(--heightHeader) + 5vh);
        box-shadow: 0px 0px 50px 50px rgb(45, 59, 71), 0px 0px 50px 50px black; 
    }
  }

.Animation_Header_AlterarDimensoes:not(:hover) {
    animation: Animation_Header_AlterarDimensoes2 1s cubic-bezier(.52,1.51,.83,.67);
    height: var(--heightHeader) ;
    background: linear-gradient(rgb(8, 19, 29) 70%, transparent);
    color: rgb(112, 131, 150);
    box-shadow: 0px 0px 0px 0px rgb(45, 59, 71), 0px 0px 0px 0px black; 
}

@keyframes Animation_Header_AlterarDimensoes2  {
    from {
        background: rgb(45, 59, 71) ;
        color: rgb(8, 19, 29);
        height: calc(var(--heightHeader) + 5vh);
        box-shadow: 0px 0px 50px 50px rgb(45, 59, 71), 0px 0px 50px 50px black; 
    }
    to {
        height: var(--heightHeader) ;
        background: linear-gradient(rgb(8, 19, 29) 70%, transparent);
        color: rgb(112, 131, 150);
        box-shadow: 0px 0px 0px 0px rgb(45, 59, 71), 0px 0px 0px 0px black; 
    }
  }
}