@media only screen and (min-width: 1024px) {
.Header {
    grid-area: Header;
    max-width: 99vw;
    min-width: 99vw;
    max-height: 10vh;
    min-height: 10vh;
    background-color: rgba(7, 108, 240, 0.473);
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0vh;
}
}